* {
   padding: 0px;
   margin:0px;
}

.center {
   width: 800px;
   margin-left: auto;
   margin-right: auto;
}

.topbar {
   width: 800px;
   float: left;
   background-color: #777;
}

.main {
   width: 788px;
   float: left;
   background-color: #EFEFEF;
   border: 1px solid black;
   padding: 0px 5px 50px;
}

.main h1 {
   text-indent: 25px;
}

div.topbar ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

div.topbar li {
    float: left;
    border-right: 1px solid black; 
}

div.topbar li a {
    display: block;
    color: white;
    padding: 16px;
    background-color: #404040;
}

div.topbar li a:hover {
    background-color: black;
}
div.topbar .active {
    background-color: black;
}

ul {
    margin-left: 20px;
}

.apicall {
    padding: 5px 0px 5px;
    text-indent: 20px;
    background: #FFF;
    height: 20px;
    width: 100%;
    border: solid 1px black;
    border-radius: 10px;
    display:block;
}

a button.move {
    display: block;
    color: white;
    padding: 16px;
    background-color: #404040;
    float: left;
}

a:hover button.move {
    background-color: black;
    cursor: pointer;
}
