<html>
<head>
<title>HowTo guide for League of Legends API</title>
<link rel="stylesheet" href="/stylesheet.css" type="text/css">
</head>
<body>
<div class="center">
  <div class="topbar">
    <ul>
        <li><a href="/">Getting Started</a></li>
        <li><a href="/Keys">Keys</a></li>
        <li><a href="/ErrorCodes">Error Codes</a></li>
        <li><a href="/ExampleCall">Example Call</a></li>
        <li><a href="/UsefulLinks">Useful Links</a></li>
    </ul>
  </div>
  <div class="main">
    {{{body}}}
  </div>
</div>
</body>
</html>
