<h2>Error Codes</h2><br>
        <p>It is important to take a second and look at some of the possible error codes that can present themsevles when making an API call. These will fall into two categories client side and server side.</p><br>
        <h3>400 Error Codes</h3><br>
        <p>These error codes indicate that the client has failed to provide a valid request. Below I will provide a list of the most common 400 class errors.</p>
        <div>
            <ul> 
                <li>400 (Bad Request)</li>
                <li>401 (Unauthorized)</li>
                <li>404 (Not Found)</li>
                <li>415 (Unsupported Media Type)</li>
                <li>429 (Rate Limit Exceeded)</li>
            </ul>
        </div>
<br>
        <h3>500 Error Codes</h3><br>
        <p>Error codes within the 500's indicate that the server acknoledges it has errored or is unable to perform the request. Below is a list of the most common 500 error codes</p>
            <div>
            <ul> 
                <li>500 (Internal Server Error)</li>
                <li>503 (Service Unavailable)</li>
            </ul>
            </div>
<br>
<p>For more information on these errors and what they encompass please see this <a href= "https://developer.riotgames.com/docs/response-codes">page </a></p><br>
<a href="/keys"><button type="button" class="move">Prev</button></a><a href="/BasicCall"><button type="button" class="move">Next</button></a>
