<h2>Who is this guide for?</h2><br>
    <p> Welcome.This guide is for anyone that wants to gain a better understanding of the Riot Games API. While this guide isn't the most in depth guide it will provide you with all the information you will need to get started. It is meant as a supplement to the official Riot games documentation that can be found here: <a href= "https://developer.riotgames.com">Riot Games</a>. At first this guide will have some similarites however I will be branching out and showing some examples of what you can do with this API after we get some of the basics down. It is important to note that it is recommended to become familiar with JaVaScript Object Notation and object-oriented programming concepts before proceeding with this guide.</p><br>
    <h3>What you will need</h3>
    <p>First you will need a league of legends account. You will then need to sign in with this account in order to access the developer portal account that will be created for you upon log in.This is what will generate a development <a href="/keys"> API key.</a></p><br>
  
    <h3>Rate limiting and how the API returns data</h3>
    <p>The API returns data in valid JSON. It is important to note that Riot games uses Rate Limiting. This is a way for them to control the use of their API. They do that by setting limits on how many times endpoints are able to be accessed at any given time. The reason for this is to ensure a healthy user experience as the systems put in place are the same ones that power the actual game. The rate limit placed on users is as follows: 
            <ul>
            <li>10 requests every 10 seconds</li>
            <li>500 requests every 10 minutes</li>
            </ul>
            </p>
    <br>
    <h3>Moving on</h3>
    <p>To move on simply click the next button in the bottom right hand corner of the screen or use the menu at the top of the page.</p><br>
<a href="/Keys"><button type="button" class="move">Next</button></a>
