<h2>API Keys</h2><br>
    <p>The development API key that was generated for you when you signed into the developer portal is for you to play around with. It will allow you to develop your own project that can be made available to the rest of the community. There are many things you can use the development key for such as: </p>
            <ul>
                <li>bots for streaming sites, public boards,voice com servers</li>
                <li>you can display your own personal stats and share it</li>
                <li>personal projects to gather your own stats</li>
                <li>personal research</li>
            </ul>
<br><br>

        <h3>Production API keys</h3>  
    <p>After you have developed some type of application and you would like to open it up to the community for use you will need a production API key. Production API keys have higher rate limits that will allow for more traffic. For example the standard rate limit of a production API key is 3,000 requests ever 10 seconds and 180,000 requests every 10 minutes.</p>
<br></br>
      <h3>How do I get a production API key?</h3>
        <p>You must first apply for a production key with an expanded rate limit. You do this by clicking on the "Register Project" button on your dashboard. From there simply fill out the form provided and submit. If you are working on multiple projects you should register each one separately. Each will have to be approved individually. Only projects that are available, visible, and usable by the community and comply with Riot Games <a href="https://developer.riotgames.com/docs/app-guidelines"> Application Guidelines</a> will be granted this type of key.</p>
        <br></br>
        <h3>Safety measures</h3>
        <p>If for some reason your key becomes unsecure it will be revoked. It is your responsibility to ensure it's safety. If you require more information on this topic please see the <a href = "https://developer.riotgames.com/docs/credentials-security">Credentials Security</a> page</p><br>
<a href="/"><button type="button" class="move">Prev</button></a><a href="/ErrorCodes"><button type="button" class="move">Next</button></a>
