<h2>Some Useful links</h2><br>
        <p>The official Riot Games documentation is extremely detailed however I hope that all of the information provided will prove useful as you work your way through their API.Here are some additional resources that you can reference that may be useful.</p>

<ul>
  <li><a href= "https://developer.riotgames.com">Riot Games</a></li>	        
  <li><a href="http://json.org/">Introducing JSON</a></li>
  <li><a href="http://docs.oracle.com/javase/tutorial/java/concepts/">object-oriented programming concepts.</a></li>
</ul>
<br>
<a href="/ExampleCall"><button type="button" class="move">Prev</button></a>
